/* stylelint-disable string-quotes */
body {
  background-color: #eee;
}

.header-color {
  color: #fff;
  background-color: #4c2474;
}

.margin-none {
  margin: 0;
}

.header-padding {
  padding: 30px 0;
}

.display-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.padding-zero {
  padding-left: 0;
}

.label-sizing {
  font-size: 1.25em;
  margin-bottom: 1rem;
  width: 100%;
}

#title,
#photo-url,
#notes {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  height: 2.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #ccc;
  width: 100%;
}

label[for='photo-url'],
label[for='notes'] {
  padding-top: 1.75rem;
}

#notes {
  height: 200px;
  resize: none;
}

.justify-content-end {
  justify-content: flex-end;
}

#save-button,
#new-button {
  font-family: 'Times New Roman', Times, serif;
  background-color: #4c2474;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 0.45em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 0.4rem;
}

h3 {
  padding-left: 1.5rem;
}

.justify-content-between {
  justify-content: space-between;
}

#new-button {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 4em;
  height: 2em;
  border-radius: 0.25em;
}
